{% extends "base.html" %}

{% block title %}Inicio - ML Supervisado{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="logo-main">
                <i class="fas fa-brain"></i> 
                <h1>ML<span>Supervisado</span></h1>
            </div>
            <h2>Casos de Uso de <span>Machine Learning Supervisado</span></h2>
            <p>Explora cómo el aprendizaje supervisado está transformando industrias y resolviendo problemas complejos en el mundo real.</p>
        </div>
    </div>
</section>

<section class="intro">
    <div class="container">
        <h2>¿Qué es el Machine Learning Supervisado?</h2>
        <div class="intro-content">
            <div class="intro-text">
                <p>El aprendizaje supervisado es un tipo de machine learning donde los modelos son entrenados usando datos etiquetados. Estos algoritmos aprenden a mapear entradas a salidas basándose en ejemplos de entrada-salida.</p>
            </div>
        </div>
        <h2>Trabajos</h2>
        <div class="intro-content">
            <div class="intro-text">
                <p>En esta investigación, analizamos cuatro casos de uso relevantes en diferentes industrias donde el machine learning supervisado ha demostrado un impacto significativo.</p>
                <a href="{{ url_for('casos') }}" class="btn">Ver casos de estudio</a>
            </div>
            <div class="intro-text">
                <p>En esta investigación, revisaremos el primer algoritmo sinedo el de regresion lineal</p>
                <a href="{{ url_for('rl') }}" class="btn">Ver caso regresion lineal</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}