{% extends "base.html" %}

{% block title %}Regresión Logística - ML Supervisado{% endblock %}

{% block content %}
<section class="logistica-main">
    <div class="container">
        <h1>Regresión Logística</h1>
        <div class="logistica-intro">
            <p>La regresión logística es un método estadístico utilizado para modelar la relación entre una variable dependiente categórica (generalmente binaria) y una o más variables independientes. Es ampliamente utilizada en problemas de clasificación.</p>
            
            <div class="logistica-options">
                <a href="{{ url_for('logistica_conceptos') }}" class="btn">Conceptos Básicos</a>
                <a href="{{ url_for('logistica_practico') }}" class="btn">Ejercicio Práctico</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}